{% extends "base.html" %}
{% block title %}Избранные авторы{% endblock %}
{% block header %}Избранные авторы{% endblock %}
{% block content %}

<main role="main" class="container">
  <div class="row">
      <div class="col-md-3 mb-3 mt-1">
          {% include "include/posts/index_card.html" with post=post %}
      </div>
      <div class="col-md-9">
        {# {% load cache %} #}
        {# {% cache 20 index_page %} #}
        {% include "include/menu.html" with index=True %}
        {% for post in page %}
          {% include "include/posts/post_item.html" with post=post %}
        {% endfor %}
        {# {% endcache %} #}
        {% include "include/paginator.html" with items=page paginator=paginator %}
      </div>
    </div>
</main>


{% endblock %}