<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
        <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h3">
                Об авторе
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                Полезный короткий текст
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
        <div class="card-body">
        <div class="card-text">
            <p><strong>Я — обычный человек, который занимается обычными делами.</strong></p>
            <p>Я люблю читать книги, иногда смотреть фильмы и сериалы, а также слушать музыку.</p>
            <p>У меня есть семья и друзья, я люблю проводить время с ними, но больше всего я люблю свою работу, которую я очень люблю.</p>
            <p>За годы своей карьеры я создал множество проектов, и в настоящее время я заканчиваю работу над ещё одним проектом, который поможет мне и моим коллегам.</p>
            <p>Я очень часто вижу себя в каждом проекте, который создаю, и это помогает мне создавать проекты лучше.</p>
        </div>
        </div>
    </div>
    </div>
{% endblock %}