<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}О технологиях проекта{% endblock %}
{% block content %}
    <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
        <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h3">
                Технологии
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                Полезный короткий текст
                </div>
            </li>
            </ul>
        </div>
        </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
        <div class="card-body">
        <div class="card-text">
            <p>В проекте использованы две камеры для наблюдения за ребёнком</p>
            <p>Первая - с обычной картинкой.</p>
            <p>Вторая - со стереоскопической картинкой высокого разрешения, позволяющей видеть лицо ребёнка до мелочей.</p>
            <p>Для записи звука используется микрофон, установленный в игровой консоли.</p>
            <p>Это позволяет слышать все слова, сказанные ребёнком, без искажений.</p>
            <p>Также установлен динамик, обеспечивающий громкое и четкое звучание.</p>
        </div>
        </div>
    </div>
    </div>
{% endblock %}