{% extends 'base.html' %}
{% block title %}Записи пользователя {{ author.get_full_name }}{% endblock %}
{% block header %}Записи пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include "include/posts/author_card.html" with post=post %}
        </div>
        <div class="col-md-9">
            {% for post in page %}
                {% include "include/posts/post_item.html" with post=post %}
            {% endfor %}
            {% include "include/paginator.html" with items=page paginator=paginator %}
        </div>
    </div>
</main>
{% endblock %}